:root {
    --keyboard-height: 200px
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none; /* Disable double tap to zoom on Safari */
}

.canvas-container {
    flex-grow: 1;
    max-height: 800px;
    max-width: 480px;
    width: 100%;
    /*border: red 1px solid;*/
}

.canvas-viewport {
    /*border: green 1px solid;*/
}

canvas {
    display: block;
    margin: 0 auto;
}

.keyboard {
    height: var(--keyboard-height);
    width: 100%;
    margin-top: 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    justify-content: center;
}

.keyboard-button {
    height: 58px;
    max-width: 44px;
    /*width: 44px; !* overwritten with js *!*/
    margin: 0 6px 0 0;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
}

p {
    margin: 0;
    font-size: 20px;
    color: #000;
}

.keyboard-button:last-child {
    margin-right: 0;
}

.keyboard-enter {
    max-width: 80px;
}

.keyboard-del {
    max-width: 80px;
}

.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    h1 {
        font-size: 3em;
        color: #000000;
        text-align: center;
    }

    p {
        font-size: 1.5em;
        color: #000000;
        text-align: center;

    }

    .instruction-text {
        margin-bottom: 1em;
    }
}

.game-over-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 100;

    li {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        list-style-type: none;
        font-size: 1.2em;
        color: #A9A9A9;
        margin-bottom: 0.3em;
    }
}

.game-over-foreground {
    position: relative;
    z-index: 101;
}

#game-over-score {
    font-size: 6em;
    text-align: center;
    margin-bottom: 1em;
}

.overlay-button {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#game-over-screen {
    display: none;
}

/* smaller screens */
@media screen and (max-width: 768px) {
}