:root {
  --keyboard-height: 200px
}

main {
  height: 100%
}

.game {
  display: flex;
  flex-direction: column;
  height: 100%
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none; /* Disable double tap to zoom on Safari */
}

canvas {
  display: block;
  margin: 0 auto;
}

.canvas-container {
  flex-grow: 1
}

.keyboard {
  height: var(--keyboard-height);
  width: 100%;
  /*margin: 0 8px;*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
  justify-content: center;
}

.keyboard-button {
  height: 58px;
  max-width: 44px;
  /*width: 44px; !* overwritten with js *!*/
  margin: 0 6px 0 0;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  box-sizing: border-box;
  color: red;
  cursor: pointer;
  transition: background-color 0.3s;
}

.keyboard-button:last-child {
  margin-right: 0;
}

.keyboard-enter {
  max-width: 80px;
}
.keyboard-del {
  max-width: 80px;
}

/* smaller screens */
@media screen and (max-width: 768px) {
  /*.keyboard {*/
  /*}*/

  /*.keyboard-enter {*/
  /*  width: calc(100% / 5 - 4px);*/
  /*}*/

  /*.keyboard-del {*/
  /*  width: calc(100% / 5 - 4px);*/
  /*}*/
}
